* {
  	/* 드래그 방지 */
	/* -webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none; 
	user-select:none; */
  margin: 0px;
  padding: 0px;
  /* box-sizing: border-box; */
}
ul, ol {
  list-style:none;
}
a{
  text-decoration:none;
}
/* 자기소개 */
body{
  padding-top:70px;
  width:100%;
  height:100vh;
  background-image: linear-gradient( 45deg, rgb(11, 111, 151),rgba(14, 139, 139, 0.89));
}

section {
  position:relative;
  width:400px;
  height:600px;
  padding: 30px;
  background-color: #fff;
  margin: auto;
  box-shadow: 10px 10px 30px rgba(85, 85, 85, 0.1);
  box-shadow: 5px 8px 20px rgba(54, 54, 54, 0.66); 
  border-radius:10px;
}
/* 얼굴사진 */
.face-container {
  box-shadow: 13px 10px 16px #04698f70;
  margin:auto;
  width:200px;
  height:200px;
  border-radius: 50%;
  overflow: hidden; 
}
.face-container img {
  margin-top: -45px;
    margin-left: -132px;
    width: 218%;
}
.name-age {
  font-size: 150%;
  font-weight: bold;
  margin:auto;
  margin-top: 30px;
  text-align: center;
}
.etc {
  font-size:90%;
  color:rgb(182, 182, 182);
  text-align: center;
  margin-top: 10px;
}
/* 그래프 */
.graph-table {
  margin-top:30px;
  /* margin-left:px; */
}
.graph-table tr th {
  color:rgb(98, 98, 98);
  font-size:110%;
  font-weight: unset;
  width:100px;
}
.graph-table tr td {
  width:300px;
  height: 40px;
}
.graph-table tr td div div {
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  transition: all 1s ease;
  width:6%;
  height:23px;
  background-image: linear-gradient( to left, rgba(14, 139, 139, 0.89), rgb(11, 111, 151));
}
/* 그래프조절 */
.power-container:hover div{
  width:30%;
  /* cursor:pointer; */
}
.speed-container:hover div{
  width:60%;
  /* cursor:pointer; */
}
.int-container:hover div{
  width:40%;
  /* cursor:pointer; */
}
.drink-container:hover div{
  width:50%;
  /* cursor:pointer; */
}
.girlfriend-container:hover div{
  width:0%;
  /* cursor:pointer; */
}
/* sns이미지 */
.sns-container {
  position:absolute;
  bottom:10px;
  right:10px;
}
.sns-container img{
  width:33px;
  margin-left:5px;
}


/* 사이드메뉴 */
aside {
  position : fixed;
  margin-top: -70px;
}
nav.side_menu {
  /* transform:translateY(-200px); */
  position:fixed;
  left:-140px;
  background-color:white;
  opacity:40%;
  width:140px;
  height:100vh;
  transition-duration:0.8s;
  transition-delay:0.1s;
}
img.side_menu {
  position:fixed;
  transition-duration:0.6s;
  margin:2vw;
  width:50px;
  height:50px;
  cursor:pointer;
}
img.side_menu:hover +nav.side_menu, nav.side_menu:hover {
  transform:translate(140px);
  opacity:80%;
}
img.side_menu:hover{
  opacity:0%;
}
nav.side_menu ul {
  margin-top:100px;
}
nav.side_menu ul li {
  width:120px;
  height:44px;
  border-bottom:2px solid #73a2ff;
}
nav.side_menu ul li a{
  display: block;
  padding-top:12px;
  padding-bottom:12px;
  padding-left:12px;
  color:black;
  transition-duration:0.5s;
}
nav.side_menu ul li a:hover{
  color:#aa8dff;
}
/* 우상단마크 */
body>h1 {
	position:absolute;
	top:4vh;
	right:4vw;
	font-size:0;
}
body>h1 strong {
	font-size:36px;
	color:#fff;
	line-height: 1.4;
	letter-spacing:1px;
}
body>h1 span {
	font-size:12px;
	color:#fff;
	opacity:0.8;
	line-height:1;
	letter-spacing:1px; 
}